<form #showFormRef="ngForm" (ngSubmit)="onShowFormSubmit(showFormRef)">
  <!-- TITLE - input -->
  <div class="form-group">
    <label for="title">Title</label>
    <input
      type="text"
      class="form-control"
      id="title"
      name="title"
      [ngModel]="showDetails.title"
      #titleRef="ngModel"
      required
    />
    <span
      class="help-block text-danger"
      *ngIf="titleRef.touched && !titleRef.valid"
      >Please enter a valid title!</span
    >
  </div>

  <!-- RELEASE DATE - input -->
  <div class="form-group">
    <label for="releaseDate">Release Date</label>
    <input
      type="number"
      class="form-control"
      id="releaseDate"
      name="releaseDate"
      [ngModel]="showDetails.releaseDate"
      #releaseDateRef="ngModel"
      required
    />
    <span
      class="help-block text-danger"
      *ngIf="releaseDateRef.touched && !releaseDateRef.valid"
      >Please enter a valid release date!</span
    >
  </div>

  <!-- GENRE - select -->
  <div class="form-group">
    <label for="genre">Genre</label>
    <select
      class="form-control"
      id="genre"
      name="genre"
      [ngModel]="showDetails.genre"
      #genreRef="ngModel"
      required
    >
      <option disabled selected value>Please select a genre</option>
      <option value="thriller">Thriller</option>
      <option value="sci-fi">Sci-fi</option>
      <option value="documentary">Documentary</option>
      <option value="romance">Romance</option>
      <option value="horror">Horror</option>
      <option value="comedy">Comedy</option>
      <option value="drama">Drama</option>
      <option value="action">Action</option>
      <option value="western">Western</option>
      <option value="anthology">Anthology</option>
      <option value="children's">Children's</option>
      <option value="anime">Anime</option>
      <option value="educational">Educational</option>
      <option value="reality">Reality</option>
    </select>
    <span
      class="help-block text-danger"
      *ngIf="genreRef.touched && !genreRef.valid"
      >Please enter a valid genre!</span
    >
  </div>

  <!-- IMAGE - input -->
  <div class="form-group">
    <label for="coverImg">Poster Image URL</label>
    <input
      type="text"
      class="form-control"
      id="coverImg"
      name="coverImg"
      [ngModel]="showDetails.coverImg"
    />
  </div>

  <!-- IMAGE - display -->
  <div class="row my-2">
    <div class="col-xs-10 mx-auto">
      <img
        class="img-responsive"
        [src]="showFormRef.value['coverImg']"
        [alt]="showFormRef.value['title']"
      />
    </div>
  </div>

  <!-- SUBMIT - button -->
  <button
    type="submit"
    class="btn btn-primary mr-3"
    [disabled]="!showFormRef.valid"
  >
    Save Show
  </button>

  <!-- CANCEL - button -->
  <button type="button" class="btn btn-warning" (click)="onResetForm()">
    Cancel
  </button>
</form>
