form .ng-invalid.ng-touched {
  border: 1px solid green;
}
.form-group {
  top: 25px;
  padding-top: 10%;
}
button {
  background-color: #416F14;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 15px;
}

button:hover {
  opacity: 0.8;
}
