form {
  border: 3px solid #A5C77F;
  padding: 20px;
  background-color: #262626;
}

input[type=email], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 12px 0;
  display: inline-block;
  border: 1px solid #416F14;
  box-sizing: border-box;
}

label.text {
  color:#416F14;
}

a {
  color:#416F14;
  text-decoration: none;
}

button {
  background-color: #416F14;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 15px;
}

button:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #A5C77F;
}

.imgcontainer {
  text-align: center;
  margin: 2px 0 2px 0;
}

img.avatar {
  width: 40%;
  border-radius: 25%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}
