<div class="row">
  <div class="col-xs-12 col-md-6 offset-md-3">
    <hr />
    <form
      #authFormRef="ngForm"
      (ngSubmit)="authFormSubmit(authFormRef)"
      action="action_page.php"
      method="post"
    >
      <div class="imgcontainer">
        <img
          src="https://i.ibb.co/NFrzxpW/91168225-5507-4380-B65-D-C52-E86472299.png"
          alt="91168225-5507-4380-B65-D-C52-E86472299"
          class="avatar"
        />

        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            email
            ngModel
            required
          />
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            class="form-control"
            id="password"
            name="password"
            minlength="6"
            ngModel
            required
          />
        </div>

        <button
          type="submit"
          class="btn btn-dark"
          [disabled]="!authFormRef.valid"
        >
          {{ signUpMode ? "Sign Up" : "Sign In" }}
        </button>

        <button
          type="button"
          class="btn btn-light"
          (click)="onAuthModeToggle()"
        >
          Toggle to {{ signUpMode ? "Sign In" : "Sign Up" }}
        </button>
      </div>
    </form>
  </div>
</div>
