<div class="row">
  <div class="col-md-12">
    <h2>{{ show.title }}</h2>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h3>{{ release.date }}</h3>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <p>{{ show.genre }}</p>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <img src="" alt="" class="img-responsive"/>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <p>Rating</p>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <small>Tags</small>
  </div>
</div>
<hr/>
