<div class="row">
  <div class="col-md-12">
    <h2>{{ show.name }}</h2>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h3>{{ show.source_ids }}</h3>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <p>{{ show.types }}</p>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <img src="{{ show.image_url }}" alt="{{ show.name }}" class="img-responsive" style="max-height: 250px"/>
  </div>
</div>
<hr>
<div class="row mt-4">
  <div class="col-md-12">
    <div class="dropdown" appDropdown>
      <button
      class="btn btn-primary dropdown-toggle"
      type="button"
      id="dropdownMenuButton"
      aria-haspopup="true"
      aria-expanded="false">
      Edit Show
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" (click)="onEditShow()">Edit Show</a>
      <div class="dropdown-item" (click)="onRemoveShow()">Remove Show</div>
    </div>
    </div>
  </div>
</div>
<hr/>

