<a style="cursor: pointer"
class="list-group-item clearfix"
[routerLink]="[showIndex]"
routerLinkActive="active"
>
  <div class="float-left">
    <!--NAME-->
  <h4 class="list-group-item-heading">{{ show.name }}</h4>
  <!--STREAMING SERVICE-->
  <p class="list-group-item-text mb-0">{{ show.source_ids }}</p>
  <!--TYPE-->
  <p class="list-group-item-text mb-0" *ngIf="show.types !== ''">
    {{ show.types }}
  </p>
</div>
  <!--IMAGE-->
<div class="float-right">
  <img
  src="{{ show.image_url }}"
  alt="{{ show.name }}"
  class="img-responsive rounded"
  style="max-height:50px"/>
</div>
</a>
