.logo-image{
  max-height: 100%;
  max-width: 100%;
  width: 75px;
  height: 75px;
  overflow: hidden;
  margin-top: 10px;
}
.nav {
  color: #A5C77F;
  text-transform: none;
  text-align: justify;
}

