.body {
  background-color: #262626;
  display: flex;
}
.row {
  background-color: transparent;
  display: flex;
  color: #A5C77F;
  flex-direction:row;
  flex-basis: auto;
}
::selection{
  background-color: #416F14 !important;
}
