<div class="row mb-3"
*ngFor="let showEl of myShows | SortShows: sortField; let i = index">
  <div class="col-md-12">
    <app-show [show]="showEl" [showIndex]="i"></app-show>
     <button
      class="float-right"
      style="border: none; font-size: 1rem"
      (click)="onRemoveShow(i)">
    &minus;
    </button>
  </div>
</div>

    <button class="btn btn-primary mr-3" (click)="onAddNewShow()">
      Add Show
    </button>
    <button class="btn btn-secondary" (click)="onSortShows()">
  Sort by {{ sortField == "streaming service" ? "Title" : "Streaming Service" }}
    </button>




