<div class="imgcontainer">
  <img
    src="https://i.ibb.co/NFrzxpW/91168225-5507-4380-B65-D-C52-E86472299.png"
    alt="91168225-5507-4380-B65-D-C52-E86472299"
    style="height: 200px; width: 200px"
    class="center"
  />
    <a class="home-text">
      <span class="home-text-box">We bundle all of your streaming services into one convenient place,
     so you never have to wonder what to watch again.
     Whether an old favorite, or a trending new release...
    we're here to help you find your next binge-worthy show!
  </span>
</a>


