<div class="container">
  <h1>Welcome to Skip Intro!</h1>
</div>
<hr />
<div class="imgcontainer">
  <img
    src="https://i.ibb.co/NFrzxpW/91168225-5507-4380-B65-D-C52-E86472299.png"
    alt="91168225-5507-4380-B65-D-C52-E86472299"
    style="height: 300px; width: 400px"
    class="center"
  />
  <div class="container">
    <p>
      We bundle all of your streaming services into one convenient place, so you
      never have to wonder what to watch again. Whether an old favorite, or a
      trending new release...click "What To Watch" to find your next
      binge-worthy show!
    </p>
  </div>
</div>
